@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.dark {
  color-scheme: dark;
}

[data-theme='dark'] {
  color: #ffffff;
}
