# Node
NODE_ENV=development

# Admin
VITE_ADMIN_PORT=4070
VITE_ADMIN_BASE_API_PREFIX=/base-api
VITE_ADMIN_BASE_API_URL=http://localhost:4077
VITE_ADMIN_MOCK_API_PREFIX=/mock-api
VITE_ADMIN_MOCK_API_URL=http://localhost:4077

# Server
SERVER_PORT=4077
SERVER_VERSION=0.0.1

# PostgreSQL
POSTGRES_USER=postgres # 初始化数据库时使用
POSTGRES_PASSWORD= # 初始化数据库时使用
POSTGRES_DB=taskward # 初始化数据库时使用
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
