dist
coverage
.nx/cache
.nx/workspace-data
node_modules
pnpm-lock.yaml
.husky
.expo
expo-env.d.ts
.next
.vercel

apps/admin/@types/auto-imports.d.ts
apps/admin/src/routeTree.gen.ts

apps/client/@types/auto-imports.d.ts

apps/server/src/generated
apps/server/src/metadata.ts
