@use 'tailwind.scss';
@use 'fonts.scss';

html,
body {
  font-family:
    Nunito,
    Noto Sans SC,
    system-ui,
    -apple-system,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  min-height: 100vh;
}

#app {
  height: auto;
}

html.dark {
  color-scheme: dark;
}

html[data-theme='dark'] {
  color: #ffffff;
}

.global-hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  -webkit-overflow-scrolling: touch; /* iOS (Safari and Chrome) */

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* Chrome, Safari, and Edge */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 9999;
}

::view-transition-new(root) {
  z-index: 1;
}

html[data-theme='dark']::view-transition-old(root) {
  z-index: 1;
}

html[data-theme='dark']::view-transition-new(root) {
  z-index: 9999;
}
