@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html.dark {
  color-scheme: dark;
}

html[data-theme='dark'] {
  color: #ffffff;
}
