@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family:
    Nunito,
    Noto Sans SC,
    system-ui,
    -apple-system,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  height: 100vh;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.dark {
  color-scheme: dark;
}

[data-theme='dark'] {
  color: #ffffff;
}
